<ngb-carousel class="carrossel-item">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/pexels-valeria-boltneva-965731.jpg" />
      </div>
      <div class="carousel-caption">
        <h3>Seleção exclusiva</h3>
        <p>Uma curadoria das melhores fragrâncias do mundo da perfumaria.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/pexels-monstera-5874608.jpg" />
      </div>
      <div class="carousel-caption">
        <h3>Somos a I Love ParFun</h3>
        <p>Especialistas em perfumaria feminina</p>
      </div>
    </ng-template>
  </ngb-carousel>
