.navbar{
    background-color: rgb(39, 39, 39);
    padding: 8px 100px;
}

.navbar h1{
    cursor: pointer;
    margin: 0;
    font-size: 32px;
    color: rgb(254, 78, 113);
    display: flex;
    align-items: center;
    gap: 8px;
}

.bi-heart-fill{
    color: white;
    font-size: 24px;
}

.active {
    border-bottom: 3px solid rgb(254, 78, 113);
}


.cart-section{
    cursor: pointer;
}


.menu-links{
    font-size: 14px;
    display: flex;
    gap: 8px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 20px;
}


/*  a */
.menu-links .nav-item .nav-link{
    color: white;
}

.nav-item i{
    font-size: 22px;
}


@media screen and (max-width: 1000px){
    
    .navbar{
        padding: 8px 50px;
    }
}


@media screen and (max-width: 575px){
    
    .navbar{
        padding: 20px 20px;
    }
}