
<!-- carousel -->

  <ngb-carousel class="carrossel-item">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/pexels-valeria-boltneva-965731.jpg" />
      </div>
      <div class="carousel-caption">
        <h3>Seleção exclusiva</h3>
        <p>Uma curadoria das melhores fragrâncias do mundo da perfumaria.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/pexels-monstera-5874608.jpg" />
      </div>
      <div class="carousel-caption">
        <h3>Somos a I Love ParFun</h3>
        <p>Especialistas em perfumaria feminina</p>
      </div>
    </ng-template>
  </ngb-carousel>

  <!-- seção vantagens -->

  <div class="facility-container">
    <div class="facility-item">
      <div class="facility-logo">
        <i class="bi bi-credit-card-2-front"></i>
      </div>
      <div class="facility-description">
        <span>Pague no cartão</span>
        <span>em até 10x sem juros</span>
      </div>
    </div>
    <div class="facility-item">
      <div class="facility-logo">
        <i class="bi bi-coin"></i>
      </div>
      <div class="facility-description">
        <span>Desconto</span>
        <span>10% de desconto na primeira compra</span>
      </div>
    </div>
    <div class="facility-item">
      <div class="facility-logo">
        <i class="bi bi-truck"></i>
      </div>
      <div class="facility-description">
        <span>Frete Grátis</span>
        <span>nas compras acima de R$ 300,00</span>
      </div>
    </div>
  </div>


<!-- cards -->

<div class="product-container">
  <!-- <h2>Mais Vendidos</h2> -->
  <div class="cards-list">
    <div class="card card-item" style="width: 18rem;" *ngFor="let product of products" [ngSwitch]="accessRole()">
      <img src="{{ product.image }}" height="165px" width="250px" class="card-img-top" alt="Foto de {{ product.title}}">
      <div class="card-body">
        <h5 class="card-title">
          {{ product.title | titlecase }}
        </h5>
        <p class="card-text">
          {{ product.description }}
        </p>
        <div>
          <span>Valor:</span> 
          <span>
            {{ product.price | currency:'BRL':'symbol':'1.2-2':'pt'}}
          </span>
        </div>
        <div *ngSwitchCase="false">
          <span *ngIf="product.stock == 0 ">
            Sem Estoque
          </span>
        </div>
        <span>Em estoque: {{product.stock}}</span>
    
        <div class="btn-shop" *ngSwitchCase="true">
          <div class="quantity-input">
            <button class="minus" (click)="removeItem(product)">
              <i class="bi bi-dash"></i>
            </button>
  
            <input type="number" id="" class="quantity" step="1" min='1' max='{{product.stock}}' name="quantity" [(ngModel)]="product.quantity" inputmode="numeric">
  
            <button class="plus" (click)="addItem(product)">
              <i class="bi bi-plus"></i>
            </button>
          </div>
          <button class="btn-card-home" (click)="addToCart(product)">Comprar</button>
        </div>
      </div>
    </div>
  </div>
</div>