<div class="facility-container">
    <div class="facility-item">
      <div class="facility-logo">
        <i class="bi bi-credit-card-2-front"></i>
      </div>
      <div class="facility-description">
        <span>Pague no cartão</span>
        <span>em até 10x sem juros</span>
      </div>
    </div>
    <div class="facility-item">
      <div class="facility-logo">
        <i class="bi bi-coin"></i>
      </div>
      <div class="facility-description">
        <span>Desconto</span>
        <span>10% de desconto na primeira compra</span>
      </div>
    </div>
    <div class="facility-item">
      <div class="facility-logo">
        <i class="bi bi-truck"></i>
      </div>
      <div class="facility-description">
        <span>Envio express</span>
        <span>Envio em até 24h</span>
      </div>
    </div>
  </div>
